<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder location="application.properties"/>-->
<!--    <context:component-scan base-package="com.dy.dev"-->
<!--                            use-default-filters="false">-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->
<!--        <context:include-filter type="assignable" expression="com.dy.dev.dao.CrudRepository"/>-->
<!--        <context:include-filter type="regex" expression="com\..+Repository"/>-->


        <!--    annotation-config="true"  the same as <context:annotation-config> -->
        <!--    name-generator is used to ovveride default name of the created Beans-->
        <!--    resource-pattern="" is used to ovveride default scan **/*.class behavior-->
        <!--    scoped-proxy="" is used to create Proxy on Beans, by default is NO-->
        <!--    scope-resolver="" is used to set Scope. by default is singleton-->
<!--    </context:component-scan>-->
</beans>